amply
argon2-cffi
attrs
autopep8
backcall
bleach
Brotli
certifi
cffi
chardet
click
colorama
cycler
dash-core-components
dash-html-components
dash-table
decorator
defusedxml
docutils
entrypoints
et-xmlfile
Flask
Flask-Compress
idna
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
keras
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
openpyxl
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
PuLP
pycodestyle
pycparser
Pygments
pyparsing
PyQtWebEngine
pyrsistent
python-dateutil
pytz
# pywin32
# pywinpty
pyzmq
requests
scikit-learn
scipy
seaborn
Send2Trash
six
tenacity
terminado
testpath
threadpoolctl
toml
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
xlrd
gunicorn